html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


div {
  margin-bottom: 30px;
}
#divID table { 
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-collapse: collapse;
} 
#divID th, #divID td { 
  padding: 10px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
} 

